Package: com.unloadnfcd
Name: unloadNfcd
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Unloads Nfcd whenever you’re jailbroken.
Maintainer: dpkg_
Author: dpkg_
Section: Utilities
