Package: com.unloadtipsd
Name: unloadTipsd
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Unloads Tipsd whenever you’re jailbroken.
Maintainer: dpkg_
Author: dpkg_
Section: Utilities
