Package: com.unloadrpd
Name: unloadRpd
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Unloads Rapportd whenever you’re jailbroken.
Maintainer: dpkg_
Author: dpkg_
Section: Utilities
