Package: com.unloadapd
Name: unloadApd
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Unloads Askpermissiond whenever you’re jailbroken.
Maintainer: dpkg_
Author: dpkg_
Section: Utilities
